*
{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}
body
{
    background: #fff;
    padding-top: 100px;
}
body .header {
    position: fixed;
    width: 100%;
    background: #222;
    padding: 5px 20px ;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between ;
    align-items: center;
    z-index: 1000;
    border-bottom: 2px solid #1E2A36;

}


.header h1 {
    font-family: 'Gabriola', serif !important;

    margin-left: 20px;
    margin-bottom: 10px ;
    color: #fff;
}

.tab {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.tab > span {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: blue;
    transition: all 0.5s ease;
}


nav{
    font-family: 'Gabriola', serif !important;
    position:relative;
    width:400px;
    height: 50px;
    background:#222
    border-radius: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}
nav a{
    position:relative;
    display:flex;
    font-size:1em;
    font-weight:500;
    color:#fff !important;
    text-decoration:none;
    padding:0 15px;
    padding-right: 23px;
    z-index:1;
    transition: color 0.5s;
}

nav span{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background:linear-gradient(45deg, #4f1919, #ff3333);
    border-radius: 8px;
    transition: all 0.5s ease;
}
nav a:nth-child(1):hover~span{width: 33.33%; left: 0%;}
nav a:nth-child(2):hover~span{width: 33.33%; left: 33.33%;}
nav a:nth-child(3):hover~span{width: 33.33%; left: 66.66%;}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    padding: 30px;
    border-radius: 10px;
    box-shadow:  0px 8px 16px rgba(0, 0, 0, 0.5);
    width: 60%;
    max-width: 600px;
    color: #ccc;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.popup-content h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
}

.popup-content p {
    font-size: 18px;
    color: #f4f4f4;
    line-height: 1.6;
    text-align: center;
    max-width: 500px;
}

.popup-content button {
    padding: 12px 24px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}
.hint-popup {
    color: #000;
background-color: rgba(211, 211, 211, 0.8) ;
border-radius: 35px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    z-index: 1700;
    padding: 1px ;
    text-align: center;

}

#shipSelectionHint {
    top: 102px;
/*    right: 15%;*/
    right: 20%;
}

#monthNavigationHint {

    /*bottom: 8%;*/
     bottom: 10%;
    left: 10%;
}


.tabcontent::before {
    content: '';
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
}


.tabcontent {
    margin: 10px auto;
    padding: 0 20px;
}
.tabcontent h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
}
.purpose{
    font-size: 1rem;
    color: gray;
}

.accordion-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.correlation-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.correlation-info {
    flex: 1 1 45%; /* base width of 45% */
    margin: 10px;
    max-width: 45%;

}
.correlation-info img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.correlation-info h3{
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: underline;
    font-style: italic;
}

.insight{

    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 1rem;
}

p{
    margin: 10px 10px;
    color: #333;
    line-height: 1.6em;
}
.source-row {
    width: 100%;
    margin-top: 10px;
    text-align: left;
    font-size: 0.8em;

    margin-top: auto;
    font-style: italic;

}
.source-row p{
    color:#DEDEDE;
}


footer {
    font-family: 'Georgia', serif;
    background: #f4f4f4;
    padding: 20px;
    color: #333;
    text-align: center;
    margin: 10px -20px;


}

footer a {
    color: #0066cc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.timeline {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(42, 58, 72, 0.5);
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
    border-top: 1px solid #1E2A36;
    display: flex; /* add flex to center the child ul */
    justify-content: center;
    padding: 10px 0;
    margin-left:-20px;

}

.timeline ul {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.timeline li {
    display: inline-block;
    margin: 0 25px; /* adjust ul inner width */
    padding: 5px ;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.timeline li.selected {
    font-weight: bold;
    color: red;
}

#tooltip{
    position: absolute;
    display: none;
    padding: 10px;
    margin-top: -150px;
    margin-left: -5%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 12px;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    z-index: 1800;
    font-family: 'Helvetica Neue',Arial, sans-serif;
    opacity: 90%;
    transition:  opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(-5px);
    top: 100%;

}

#tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 7px;
    border-width: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
}

#tooltip.visible {
    display: block;
    opacity: 1;
}

#tooltip p.tooltip-text {
    color: #f4f4f4;
}

.month-indicator {
    position: absolute ;
    bottom: 20% ;
    height: 25px ;
    width: calc(100% / 365) ;
    background-color: rgba(76, 195, 247, 0.5) ;
    transition:left 1s linear;
    z-index: 1300;
   /* transform: translateX(-50%);  center on its left position */

}

#info-box {
    position: absolute;
    top: 25%;
    right: 24px;
    width: 300px;
    padding: 10px;
    z-index: 1100;
    margin: 2px;

}


#info-box h4, #info-box .boat-count {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0 0 10px 0;
    padding: 2px 5px;
 /*   font-size: 36px;*/
    font-size: 20px;
    color: lightblue;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;

}

.month-item {
    cursor: pointer;
    display: inline-block;
}

.month-item:hover {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.leaflet-top.leaflet-right {
    right: 25px;
}
.leaflet-control-layers {
    padding: 10px;
    margin: 2px;
    background-color: transparent;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0 0 10px 0;
 /*   font-size: 24px;*/
 font-size: 20px;
    color: lightblue;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    right:40%;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .correlation-info {
        flex: 1 1 100%; /* full width on small screens */
        max-width: 100%;
    }
}
@keyframes slideMonth {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}