<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Marine Time</title>
    <link rel="stylesheet" href="/static/marine.css">



</head>
<body>
    <div class="header">
        <h1>Marine Time</h1>
        <nav class="tab">
            <a href="/#port">Port</a>
            <a href="{{ url_for('analyze') }}">Analyze</a>
            <a href="/#map">Map</a>

            <span></span>
        </nav>

    </div>
    <div id="analyze" class="tabcontent">
      <h3>4大商港指標與國際指數分析</h3>

        <h5>WCI Index vs. TEU</h5>
        <div class="image-container">
            <div class="image-item">
                <img src="data:image/png;base64,{{ graph1 }}">
            </div></div>

        <h5>FBX Index vs. TEU</h5>
        <div class="image-container">
            <div class="image-item">
                <img src="data:image/png;base64,{{ graph2 }}">
            </div></div>

        <h5>BDI Index vs. Dry Material</h5>
        <div class="image-container">
            <div class="image-item">
                <img src="data:image/png;base64,{{ graph3 }}">
            </div></div>

    </div>
<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        let targetID = this.getAttribute('href');
        const targetAnchor = document.querySelector(targetID);
        if (!targetAnchor) return;

        let elementPosition = window.scrollY + targetAnchor.getBoundingClientRect().top;
        let offsetPosition = elementPosition - 0; // Height of the header. Adjust as needed.

        window.scrollTo({
            top: offsetPosition,
            behavior: 'smooth'
        });
    });
});

    </script>


</body>
</html>